<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签要指定namespace属性，不然会报错，可看做包名 -->

<mapper namespace="com.ibm6.mapper.BookMapper">
	<resultMap type="com.ibm6.bean.Book" id="bookResultMap">
		<result property="bookId" column="book_id" />
		<result property="storeDate" column="store_date" />
		<result property="leftAmount" column="left_amount" />
		<result property="uploadAmount" column="upload_amount" />
		<result property="downloadAmount" column="download_amount" />
	</resultMap>

	<select id="findByCondition" resultType="com.ibm6.bean.Book">
		select * from Book
		<where>
			<if test="nation != null">
				nation=#{nation}
			</if>
			<if test="type != null">
				type=#{type}
			</if>
			<if test="length != null">
				length=#{length}
			</if>
			<if test="theme != null">
				theme=#{theme}
			</if>
		</where>
	</select>

	<select id="findById" resultType="com.ibm6.bean.Book">
		select * from Book
		<where>
			<if test="bookId != null">
				book_id=#{bookId}
			</if>
		</where>
	</select>

	<select id="findByKeyword" resultType="com.ibm6.bean.Book">
		select * from Book
		<where>
			<if test="bookName != null">
				book_name=#{bookName} or author=#{bookName}
			</if>
		</where>
	</select>

	<select id="findByPage" resultType="com.ibm6.bean.Book">
		select * from Book limit
		#{index}, 2
	</select>

	<update id="updateById">
		update book
		set book_name = #{bookName},
		nation = #{nation},
		type = #{type},
		length = #{length},
		theme = #{theme},
		store_date = #{storeDate},
		left_amount = #{leftAmount},
		upload_amount = #{uploadAmount},
		download_amount = #{downloadAmount}
		where book_id = #{bookId}
	</update>
	
<!-- 	<select id="selectById" resultType="com.ibm6.bean.User">
		select * from User where id = #{index}
	</select> -->

</mapper>



