<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签要指定namespace属性，不然会报错，可看做包名 -->

<mapper namespace="com.ibm6.mapper.BorrowMapper">
	<resultMap type="com.ibm6.bean.Borrow" id="borrowResultMap">
		<result property="userId" column="user_id" />
		<result property="bookId" column="book_id" />
		<result property="borrowTime" column="borrow_time" />
		<result property="retTime" column="ret_time" />
		<result property="retFlag" column="ret_flag" />
		<result property="validTime" column="valid_time" />
	</resultMap>
	<select id="getBorrowById"
		resultType="com.ibm6.model.BorrowDetail">
		select
		book.book_name,
		borrow.ret_time,
		borrow.borrow_time,
		borrow.valid_time
		from borrow, book
		where borrow.book_id = book.book_id
		and borrow.id = #{id};
	</select>
	
	
	<select id="selectBorrowByUserIdAndFlag" resultType="com.ibm6.model.BorrowBookInfo">
		select
		borrow.id,
		book.book_id,
		book.book_name,
		book.nation,
		book.type,
		book.theme,
		book.length,
		borrow.borrow_time
		from borrow, book
		where borrow.book_id = book.book_id and borrow.user_id = #{userId} and ret_flag = 0
	</select>
	
	<select id="selectUserBorrowTotal" resultType="int">
		select
		count(*)
		from borrow
		where  borrow.user_id = #{userId};
	</select>

	<select id="selectBorrowByUserId" resultType="com.ibm6.model.BorrowList">
		select
		*
		from borrow
		where  borrow.user_id = #{userId} and borrow.ret_flag=0;
	</select>

	<select id="getDetailByLikeSearch" resultType="com.ibm6.model.BorrowBookInfo">
		select
		borrow.id,
		book.book_name,
		book.nation,
		book.type,
		book.theme,
		book.length,
		borrow.borrow_time
		from borrow, book
		where borrow.book_id = book.book_id
		and borrow.user_id = #{userId} and book.book_name like '%${bookName}%'
	</select>
	
	
	<!-- 要改的 -->
	<select id="selectBorrowByPage" resultType="com.ibm6.model.BorrowBookInfo">
		select
		borrow.id,
		book.book_name,
		book.nation,
		book.type,
		book.theme,
		book.length,
		borrow.borrow_time
		from borrow, book
		where borrow.book_id = book.book_id and borrow.user_id = #{userId}
		limit #{index}, 5
	</select>
	
	<insert id="saveBorrowInfo">
		insert into borrow(user_id, book_id, borrow_time, ret_time, valid_time)
		values(#{userId}, #{bookId}, #{borrowTime}, #{retTime}, #{validTime})
	</insert>
	
	<update id="updateBorrowFlagAndTime">
		update borrow
		set ret_flag = 1, ret_time = #{retTime}
		where id=#{id}
	</update>
	
	<update id="updateBookUploadInc">
		update book
		set left_amount = left_amount + 1
		where book.book_id = #{bookId} 
	</update>
	
	<update id="updateBookUploadDec">
		update book
		set left_amount = left_amount - 1
		where book.book_id = #{bookId} 
	</update>
	
	<select id="getBookExists" resultType="String">
		select
		borrow.book_id
		from borrow
		where borrow.user_id = #{userId} and borrow.book_id = #{bookId} and ret_flag = 0
	</select>
	
	
	<select id="getBookHasBorrowed" resultType="String">
		select
		borrow.book_id
		from borrow
		where borrow.user_id = #{userId} and ret_flag = 0
	</select>
	
	<select id="getBookLeftAmount" resultType="com.ibm6.bean.Book">
		select * 
		from book
		where book_id = #{bookId};
	</select>
	
	<select id="getDayBorrowTotal" resultType="int">
		select count(*)
		from borrow
		where borrow_time > #{today} and ret_flag = 0
	</select>
	
	<select id="getDayRetTotal" resultType="int">
		select count(*)
		from borrow
		where ret_time > #{today} and ret_flag = 1
	</select>
	
	<select id="getMonthBorrowTotal" resultType="int">
		select count(*)
		from borrow
		where borrow_time between #{start} and #{today}
	</select>
	
	<select id="getMonthRetTotal" resultType="int">
		select count(*)
		from borrow
		where ret_time between #{start} and #{today} and ret_flag = 1
	</select>
	
	<select id="getYearBorrowTotal" resultType="int">
		select count(*)
		from borrow
		where borrow_time between #{start} and #{today}
	</select>
	
	<select id="getYearRetTotal" resultType="int">
		select count(*)
		from borrow
		where ret_time between #{start} and #{today} and ret_flag = 1
	</select>
</mapper>




