<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签要指定namespace属性，不然会报错，可看做包名 -->

<mapper namespace="com.ibm6.mapper.BorrowMapper">
	<resultMap type="com.ibm6.bean.Borrow" id="borrowResultMap">
		<result property="userId" column="user_id" />
		<result property="bookId" column="book_id" />
		<result property="borrowTime" column="borrow_time" />
		<result property="retTime" column="ret_time" />
		<result property="retFlag" column="ret_flag" />
		<result property="validTime" column="valid_time" />


		<association property="book" javaType="com.ibm6.bean.Book">
			<result property="bookId" column="book_id" />
			<result property="bookName" column="book_name" />
		</association>
	</resultMap>
	<select id="getBorrowById"
		resultType="com.ibm6.model.BorrowDetail">
		select
		book.book_name,
		borrow.ret_time,
		borrow.borrow_time,
		borrow.valid_time
		from borrow, book
		where borrow.book_id = book.book_id
		and borrow.id = #{id};
	</select>

	<select id="selectBorrowByUserId" resultType="com.ibm6.model.BorrowList">
		select
		book.book_name,
		book.author,
		book.summary,
		borrow.id,
		borrow.book_id,
		borrow.ret_time
		from borrow, book
		where borrow.book_id =
		book.book_id and borrow.user_id = #{userId};
	</select>

	<select id="getDetailByLikeSearch" resultType="com.ibm6.model.BorrowBookInfo">
		select
		borrow.id,
		book.book_name,
		book.nation,
		book.type,
		book.theme,
		book.length,
		borrow.borrow_time
		from borrow, book
		where borrow.book_id = book.book_id
		and borrow.user_id = #{userId} and book.book_name like '%${bookName}%'
	</select>
	
	
	<!-- 要改的 -->
	<select id="selectBorrowByPage" resultType="com.ibm6.model.BorrowBookInfo">
		select
		borrow.id,
		book.book_name,
		book.nation,
		book.type,
		book.theme,
		book.length,
		borrow.borrow_time
		from borrow, book
		where borrow.book_id = book.book_id and borrow.user_id = #{userId}
		limit #{index}, 5
	</select>

</mapper>




