<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签要指定namespace属性，不然会报错，可看做包名 -->

<mapper namespace="com.ibm6.mapper.UserMapper">
	<resultMap type="com.ibm6.bean.User" id="userResultMap">
		<result property="userId" column="user_id" />
	</resultMap>
	<!-- <select id="queryBySchoolTitle" parameterType="Linda.mybatis.Education" 
		resultType="Linda.mybatis.Education"> select * from education where school_title 
		= #{school_title} </select> <select id="queryById" resultType="Linda.mybatis.Education" 
		resultMap="queryResultMap"> select * from education where id=#{id} </select> 
		<select id="queryAll" resultType="Linda.mybatis.Education" resultMap="queryResultMap"> 
		select * from education </select> -->
	<insert id="insert" parameterType="com.ibm6.bean.User">
		insert into user(user_id,
		name, gender, age, email, birthday, phone,
		address, description)
		values(#{userId}, #{name}, #{gender}, #{age}, #{email}, #{birthday},
		#{phone},
		#{address}, #{description});
	</insert>

	<delete id="deleteById" parameterType="int">
		delete from user where
		user_id = #{id}
	</delete>

	<select id="getTotalUserCount" resultType="int">
		select count(*) from user;
	</select>
	
	<select id="findAll" resultType="com.ibm6.bean.User">
		select * from user
	</select>
	
	<select id="findById" resultType="com.ibm6.bean.User">
		select * from user where user_id = #{id}
	</select>
	
	<update id="updateById" parameterType="com.ibm6.bean.User">
		update user set 
		<if test="name!=null">
			name=#{name}
		</if>
		<if test="gender!=null">
			gender=#{gender}
		</if>
		<if test="age!=null">
			age = #{age}
		</if>
		<if test="email!=null">
			email = #{email}
		</if>
		<if test="birthday!=null">
			birthday=#{birthday}
		</if>
		<if test="phone!=null">
			phone=#{phone}
		</if>
		<if test="address!=null">
			address=#{address}
		</if>
		<if test="description!=null">
			description=#{description}
		</if>
		where user_id = #{user_id}
	</update>

	<update id="updateByIdSelective"
		parameterType="com.ibm6.bean.User">
		update user
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="gender!=null">
				gender=#{gender},
			</if>
			<if test="age!=null">
				age = #{age},
			</if>
			<if test="email!=null">
				email = #{email},
			</if>
			<if test="birthday!=null">
				birthday=#{birthday},
			</if>
			<if test="phone!=null">
				phone=#{phone},
			</if>
			<if test="address!=null">
				address=#{address},
			</if>
			<if test="description!=null">
				description=#{description},
			</if>
		</set>
		where user_id = #{userId}
	</update>
	
	<select id="findUserByPage" resultType="com.ibm6.bean.User">
		select * from user limit #{index},5
	</select>

	<select id="findUserCountByExample" resultType="int">
		select count(*) from user where 1=1
		<if test="user.name!=null and user.name!=''">
			and name like CONCAT(CONCAT('%',#{user.name},'%'))
		</if>
	</select>
	
	<select id="findUserByExample" resultType="com.ibm6.bean.User">
		select * from user where 1=1
			<if test="user.name!=null and user.name!=''">
				and name like CONCAT(CONCAT('%',#{user.name},'%'))
			</if>
		limit #{index},5
	</select>
</mapper>



